.loginform-control {
    border-radius: 5px;
    background: lightblue;
    position: relative;
    width: 100%;
    padding: 30px 36px;
    box-shadow: 4px 5px 6px 8px #2b2626bf;
    display: flex;
    height: 340px;
    margin: 56px 0;
}
.loginform-data{
    width: 100%;
}
.box {
    background: #fff9f9;;
    width: 100%;
    margin: 6px 0;
    padding: 7px 7px;
    border-radius: 6px;
}
label.input {
    padding: 3px 0px;
}
.loginform-data h1 {
    padding-bottom: 13px;
    border-bottom: 3px solid;
    margin-bottom: 13px;
}
input.submit-form {
    color: #fff;
    background: cornflowerblue;
    margin-top: 10px;
}